<ion-view>

	<div class="bar bar-header bar-orange">
		<a class="button ion-chevron-left" href="#/timecheck/{{ selected.id }}"> Volver</a>
		<h1 class="title">Mensajes</h1>
	</div>

	<div class="bar bar-subheader">
		<h4 class="title">{{ selected.name }}</h4>
	</div>

	<ion-content class="has-header">
		
		<div class="message-list">

			<div class="clearfix" ng-repeat="message in selected.messages" ng-click="delete(message)">
				<div class="message tail right float-right">
					{{ message.text }}
				</div>
			</div>

		</div>

	</ion-content>

	<ion-footer-bar id="footer" class="bar-light">
		<input type="text" placeholder="First Name" ng-model="newMessage">		
		<button class="button send-button" ng-click="send()">Enviar</button>
	</ion-footer-bar>

</ion-view>